<% function displayComment(comment, evens) { %>
    <% if (evens) { %>
        <div class="commentBox even">
    <% } else { %>
        <div class="commentBox odd">
    <% } %>
            <div class="comment">
                <div class="vote" data-commentId="<%= comment.id %>">
                    <% if (comment.voteDirection == 1) { %>
                        <img src="/images/up-arrow-green.png" class="upvote">
                    <%  } else {  %>
                        <img src="/images/up-arrow.png" class="upvote">
                    <% } %>

                    <div class="voteCount">
                        <%=comment.numVotes%>
                    </div>

                    <% if (comment.voteDirection == -1) { %>
                        <img src="/images/down-arrow-magenta.png" class="downvote">
                    <% } else { %>
                        <img src="/images/down-arrow.png" class="downvote">
                    <% } %>
                </div>

                <div class="commentContent">
                    <div class="commentTop">comment by <%= comment.userName %> <%- timeSinceCreation(comment.minutes_ago) %></div>
                    <div class="commentBody"><%= comment.content %></div>
                    <div class="replyBox">
                        <button class="replyButton" onclick="createReplyBox(this)"> reply </button>
                        <form style="display:none" class="commentForm" data-parentId="<%= comment.id %>" id="x">
                            <textarea rows="8" cols="50" name="reply" class="replyComment"></textarea>
                            <input class="submitReply" type="button" onClick='postReply(this)' value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <% comment.children.forEach((comment) => {displayComment(comment, !evens);}) %>
        </div>
    
<% } %>
<% comments.forEach((comment) => { %>
    <% displayComment(comment, true); %>
<% }) %>
<% if (comments.length > 0) { %>
<div class="pageNum" data-pageNum="<%= pageNum %>">LOAD MORE</div>
<% } %>