<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/createPost.css">
    </head>
    <body>

		<%- include('partials/loginModal') %>

		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>" class="subName"><%= subreddit.name %></a>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit" class="openLoginModal sidebarBtn" id="createSubredditLink">Create Subreddit</a>
					<a href="/r/<%= subreddit.name %>/post/newPost" class="openLoginModal sidebarBtn" id="createPostLink"> Create Post</a>
					<div id="subredditDescription"><%= subreddit.description %></div>
					<div id="subredditSidebar"><%- subreddit.sidebar %></div>
				</div>
                <form action="/r/<%= subreddit.name %>/post/newPost" method="POST" id="createPostForm">
                    <label for="postTitle" class="createFormLabelRequired">Post Title (required)</label>
                    <input type="text" class="createPostText smallInputBox" id="postTitle" name="postTitle">
					<br>
					<label for="postLink">Link</label>
					<input type="text" class="createPostText smallInputBox" id="postLink" name="postLink"> 
					 <div id="createPostCheckbox">
						<input type="checkbox" id="useArticleTitle" class="checkBox" name="useArticleTitle">
						<label for="useArticleTitle" class="checkboxLabel">Use article title</label><br>
					</div>
					<br>
                    <label for="content">Body</label>
                    <textarea class="createPostText" id="postContent" name="postContent" rows="20" cols="25"></textarea>
					<input type="submit" id="createPostSubmit" value="Submit">
					<div id="createPostError" class="errMsg"></div>
                </form>
			</div>
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<% if (!locals.user) { %>
		<script type="text/javascript" src="/scripts/loginModal.js"></script>
	<% } %>

	<script>
		$("#createPostForm").on("submit", function(e) {
			e.preventDefault();
			$("#createPostError").text("");
			$.ajax({
				url: "/r/<%= subreddit.name %>/post/newPost",
				type: "post",
				data: $("#createPostForm").serialize(),
				success: function(data) {
					location.href = `/r/<%= subreddit.name %>/post/${data}`;
				},
				error: function(xhr) {
					console.log(xhr.error);
					$("#createPostError").text(xhr.responseText);
        		}
    		});
		})
	</script>
</html>