<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/views/createSubreddit.css">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <TITLE> Create Subreddit </TITLE>
    </head>
    <body>
		<%- include('partials/loginModal') %>
        <%- include('partials/signupModal') %>

		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
                    <div class="subName subredditNamePreview"></div>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
                <%- include('partials/subredditSidebar', {includePreview: true}) %>
                <form action="/createSubreddit" method="POST" id="createSubredditForm" class="form">
                    <label for="subredditName">Subreddit Name</label>
                    <input type="text" class="formText smallInputBox formSpaceBelow" id="subredditName" name="subredditName" maxlength="30">
                    <label for="description">Description</label>
                    <input type="text" class="formText smallInputBox formSpaceBelow" id="description" name="description">
                    <label for="sidebar">Sidebar</label>
                    <div id="editor" name="sidebar">
                    </div>
                    <div id="createSubredditError" class="errMsg"></div>
                    <input type="submit" id="createSubredditSubmit" class="formSubmit" value="Submit">
                </form>
			</div>
		</div>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="/scripts/createSubreddit.js"></script>
    <script>
        let quill = new Quill('#editor', {
            theme: 'snow'
        });

        attachCreateSubredditFormListeners();
    </script>
	<% if (!locals.user) { %>
	<script type="text/javascript" src="/scripts/loginModal.js"></script>
    <script type="text/javascript" src="/scripts/signupModal.js"></script>
    <script>
        attachLoginModalListeners();
		attachSignupModalListeners();
    </script>
	<% } %>
</html>