<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> Create Post </TITLE>
    <link rel="stylesheet" href="/css/views/createPost.css">
    </head>
    <body>

		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>" class="subName"><%= subreddit.name %></a>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			<div class="feed">
				<%- include('partials/subredditSidebar') %>
                <form action="/r/<%= subreddit.name %>/post/newPost" method="POST" id="createPostForm" class="form">
                    <label for="postTitle" class="createFormLabelRequired">Post Title (required)</label>
                    <input type="text" class="formText smallInputBox formSpaceBelow" id="postTitle" name="postTitle">
					<label for="postLink">Link</label>
					<input type="text" class="formText smallInputBox" id="postLink" name="postLink"> 
					 <div id="createPostCheckbox" class="checkbox formSpaceBelow">
						<input type="checkbox" id="useArticleTitle" class="checkBox" name="useArticleTitle">
						<label for="useArticleTitle" class="checkboxLabel">Use article title</label>
					</div>
                    <label for="content">Body</label>
                    <textarea class="formText" id="postContent" name="postContent" rows="20" cols="25"></textarea>
					<input type="submit" id="createPostSubmit" value="Submit" class="formSubmit">
					<div id="createPostError" class="errMsg"></div>
                </form>
			</div>
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<% if (!locals.user) { %>
		<script type="text/javascript" src="/scripts/loginModal.js"></script>
		<script type="text/javascript" src="/scripts/signupModal.js"></script>
		<script>
			attachLoginModalListeners();
			attachSignupModalListeners();
		</script>
	<% } %>
		<script type="text/javascript" src="/scripts/createPost.js"></script>
		<script>
			attachCreatePostSubmitListener("<%= subreddit.name %>");
		</script>
</html>