<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    </head>
    <body>
		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<a href="/all" class="subName">FRONTPAGE</a>
					<%- include('partials/postFilter', {filterHref: "", filterList: ["hot", "top", "new"], curFilter: filter}) %>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
				<%- include('partials/subredditSidebar') %>
				<div class="contentFeed posts" data-filter="<%= filter %>">
					<% posts.forEach((post) => { %>
					<%- include('partials/postHeader', {post: post, subreddit: subreddit}) %>
					<% }) %>
					<%- include('partials/loadMore', {loadMoreHref: `/next/page=${pageNum}/${filter}`}) %>
				</div>
			</div>
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/scripts/loadNextPage.js"></script>
	<% if (locals.user) { %>
	<script type = "text/javascript" src="/scripts/vote.js"></script>
	<script>
		attachNextPageListener([{fn: refreshVoteListeners}]);
		attachVoteListener();
	</script>
	<% } else { %>
	<script type="text/javascript" src="/scripts/loginModal.js"></script>
	<script type="text/javascript" src="/scripts/signupModal.js"></script>
	<script>
		attachLoginModalListeners();
		attachSignupModalListeners();
		attachNextPageListener([{fn: refreshLoginModalListeners}]);
	</script>
	<% } %>
</html>