<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    </head>
    <body>
		<div class="container">
		
			<div class="header">
				<div class="topbar"> topbar </div>
				<div class="headerControls">
					<a href="/all" class="subName">FRONTPAGE</a>
					<div class="filters">
						<% if (filter == "hot") { %>
							<a href="/hot" id="currentFilter">hot</a>
						<% } else { %> <a href="/hot">hot</a> <% } %>

						<% if (filter == "top") { %>
							<a href="/top" id="currentFilter">top</a>
						<% } else { %> <a href="/top">top</a> <% } %>

						<% if (filter == "new") { %>
							<a href="/new" id="currentFilter">new</a>
						<% } else { %> <a href="/new">new</a> <% } %>
					</div>
					<%- include('partials/accountControls') %>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit.html">Create Subreddit!</a>
				</div>
				<div class="posts" data-filter="<%= filter %>">
					<% posts.forEach((post) => { %>
						<div class="post" data-postId="<%= post.id %>">
							<div class="vote">
								<% if (post.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote">
								<% } %>

								<div class="voteCount">
									<%= post.numVotes %>
								</div>

								<% if (post.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote">
								<% } %>
							</div>
							<img src = "/images/text-icon.png" class="postPreview"></img>
							<div class="postRight">
								<a href="/r/<%= post.subredditName %>/post/<%= post.id %>" class="postTitle"><%= post.title %></a>
								<div class="postInfo">submitted <%= post.timeSinceCreation %> by <%= post.userName %> to <%= post.subredditName %></div>
								<a href="/r/<%= post.subredditName %>/post/<%= post.id %>" class="postComments"><%= post.numComments %> comments</a>
							</div>
						</div>
					<% }) %>
					<div class="pageNum" data-pageNum="<%= pageNum %>"><p>LOAD MORE</p></div>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script>
		function sendPostVote(thisObj, voteDirection)
		{
			let postId = thisObj.parent().parent().attr("data-postId");
			$.post(
					`/vote/${postId}`,
					{
						//1 for upvote -1 for downvote
						direction: voteDirection
					},
					function(data, status){


						let parentOfThisDiv = thisObj.parent();
						let voteCount = parentOfThisDiv.find(".voteCount");

						if(voteDirection === 1)
						{
							parentOfThisDiv.find(".downvote").attr("src", "/images/down-arrow.png");
							if(thisObj.attr("src") == "/images/up-arrow-green.png")
							{
								thisObj.attr("src", "/images/up-arrow.png");
							}
							else
							{
								thisObj.attr("src", "/images/up-arrow-green.png");
							}
						}
						else
						{
							parentOfThisDiv.find(".upvote").attr("src", "/images/up-arrow.png");
							if(thisObj.attr("src") == "/images/down-arrow-magenta.png")
							{
								thisObj.attr("src", "/images/down-arrow.png");
							}
							else
							thisObj.attr("src", "/images/down-arrow-magenta.png");
						}
						voteCount.text(parseInt(voteCount.text()) + parseInt(data));
					}
				);
		}

		$(".posts").on("click", ".upvote", function() {
				sendPostVote($(this), 1)			
		})
		$(".posts").on("click", ".downvote", function() {
				sendPostVote($(this), -1)			
		})

		$(".posts").on("click.loadmore", ".pageNum", function() {
			let pageNum = $(".pageNum").attr("data-pageNum");
			let filter = $(".posts").attr("data-filter");
			$.get(`/r/page=${pageNum}/${filter}`,
			function(data, status)
			{
				$(".pageNum").remove();
				const insert = document.getElementsByClassName("posts")[0];
				insert.insertAdjacentHTML('beforeend', data);
				console.log(data);
			});
		})
	</script>
</html>