<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> <%= post.title %> </TITLE>
    <link rel="stylesheet" href="/css/views/post.css">

    </head>
    <body>
		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>" class="subName" data-subId="<%= subreddit.id %>"><%= subreddit.name %></a>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
				<%- include('partials/subredditSidebar') %>
				<div class="post">
					<%- include('partials/postHeader', {post: post, subreddit: subreddit, excludeCommentCount: true, includePostBody: true}) %>
					<div class="newParentComment">
						<form action="/r/<%= subreddit.name %>/post/<%= post.id %>/newComment" method="POST" class="commentForm">
							<label for="comment">post a new comment:</label>
							<textarea id="comment" name="comment"></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="comments" data-filter="<%= filter %>">
						<div class="numComments"><%= post.numComments %> comments</div>
						<%- include('partials/postFilter', {filterHref: `/r/${subreddit.name}/post/${post.id}`, filterList: ["top", "new"], curFilter: filter}) %>
						<%- include('partials/postComment', {comments: comments}) %>
						<%- include('partials/loadMore', {loadMoreHref: `/r/${subreddit.name}/post/${post.id}/page=1/${filter}`}) %>
					</div>
				</div>
			</div>
			
		</div>
    </body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/scripts/loadNextPage.js"></script>
	<script type="text/javascript" src="/scripts/commentReply.js"></script>
<% if (!locals.user) { %>
	<script type="text/javascript" src="/scripts/loginModal.js"></script>
	<script type="text/javascript" src="/scripts/signupModal.js"></script>
	<script>
		attachLoginModalListeners();
		attachSignupModalListeners();
		attachNextPageListener([{fn: refreshLoginModalListeners}], {optionalElementToInsertPageNum: $(".comments")[0]});
	</script>
<% } else { %>
	<script type="text/javascript" src="/scripts/subscribe.js"></script>
	<script type="text/javascript" src="/scripts/vote.js"></script>
	<script>
		attachSubscribeListener("<%= subreddit.id %>");
		attachVoteListener();
		attachReplyListeners("<%= subreddit.name %>", "<%= post.id %>");
		attachNextPageListener([{fn: refreshVoteListeners}, {fn: refreshReplyListeners}], {optionalElementToInsertPageNum: $(".comments")[0]});
	</script>
<% } %>
</html>