<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/post.css">


    </head>
    <body>
		<% timeSinceCreation = function(timeInMinutes) { %>
			<% console.log(timeInMinutes); %>
			<% if (timeInMinutes < 1) return "less than 1 minute ago"; %>
			<% if (timeInMinutes < 60) return `${timeInMinutes} minutes ago`; %>
			<% if (timeInMinutes < 1440) return `${Math.floor(timeInMinutes / 60)} hours ago`; %>
			<% if (timeInMinutes < 43200) return `${Math.floor(timeInMinutes / 1440)} days ago`; %>
			<% if (timeInMinutes < 518400) return `${Math.floor(timeInMinutes / 43200)} months ago`; %>
			<% return `{Math.floor(timeInMinutes / 518400)} years ago`; %>
		<% } %>

		<%- include('partials/loginModal') %>
		<div class="container">
		
			<div class="header">
				<div class="topbar"> topbar </div>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>" class="subName"><%= subreddit.name %></a>
					<%- include('partials/accountControls') %>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit.html" class="openLoginModal">Create Subreddit!</a>
					<a href="/r/<%= subreddit.name %>/newPost" class="openLoginModal"> Create Post</a>
				</div>
				<div class="post">
					<div class="postContent">
						<div class="postLeft">
							<div id="postVote" class="vote" data-postId="<%= post.id %>">
								<% if (post.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote openLoginModal">
								<% } %>

								<div class="voteCount">
									<%=post.numVotes%>
								</div>

								<% if (post.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote openLoginModal">
								<% } %>


							</div>
						</div>
						<img src = "/images/text-icon.png" class="postPreview"></img>
						<div class="postRight">
							<div class="postTitle"><%= post.title %></div>
							<div class="postTop">submitted <%= post.timeSinceCreation %> by <%= post.userName %></div>
							<div class="postBody"><%= post.content %></div>
						</div>
					</div>
					<div class="newParentComment">
						<form action="/r/<%= subreddit.name %>/post/<%= post.id %>/newComment" method="POST" class="commentForm">
							<label for="comment">post a new comment:</label>
							<textarea id="comment" name="comment"></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="comments" data-filter="<%= filter %>">
						<div class="numComments"><%= post.numComments %> comments</div>
						<div class="filters">	
							<% if (filter == "top") { %>
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>/top" id="currentFilter">top</a>
							<% } else { %> <a href="/r/<%= subreddit.name %>/post/<%= post.id %>/top">top</a> <% } %>
	
							<% if (filter == "new") { %>
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>/new" id="currentFilter">new</a>
							<% } else { %> <a href="/r/<%= subreddit.name %>/post/<%= post.id %>/new">new</a> <% } %>
						</div>
						<% function displayComment(comment, evens) { %>
							<% if (evens) { %>
								<div class="commentBox even" data-commentId="<%= comment.id %>">
							<% } else { %>
								<div class="commentBox odd" data-commentId="<%= comment.id %>">
							<% } %>
									<div class="comment">
										<div class="vote">
											<% if (comment.voteDirection == 1) { %>
												<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
											<%  } else {  %>
												<img src="/images/up-arrow.png" class="upvote openLoginModal">
											<% } %>

											<div class="voteCount">
												<%=comment.numVotes%>
											</div>

											<% if (comment.voteDirection == -1) { %>
												<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
											<% } else { %>
												<img src="/images/down-arrow.png" class="downvote openLoginModal">
											<% } %>
										</div>
										<div class="commentContent">
											<div class="commentTop">comment by <%= comment.userName %> <%- timeSinceCreation(comment.minutes_ago) %></div>
											<div class="commentBody"><%= comment.content %></div>
											<div class="replyBox">
												<button class="replyButton" onclick="createReplyBox(this)"> reply </button>
												<form style="display:none" class="commentForm" data-parentId="<%= comment.id %>" id="x">
													<textarea rows="8" cols="50" name="reply" class="replyComment"></textarea>
													<input class="submitReply" type="button" onClick='postReply(this)' value="Submit">
												</form>
											</div>
										</div>
									</div>
									<% comment.children.forEach((comment) => {displayComment(comment, !evens);}) %>
								</div>
							
						<% } %>
						<% comments.forEach((comment) => { %>
							<% displayComment(comment, true); %>
						<% }) %>
						<div class="pageNum" data-pageNum="<%= post.pageNum %>">LOAD MORE</div>
					</div>
				</div>
			</div>
			
		</div>
    </body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<% if (!locals.username) { %>
	<script type="text/javascript" src="/scripts/loginModal.js"></script>	
	<% } else { %>
	<script type="text/javascript" src="/scripts/commentVote.js"></script>
	<script>		
		$("#postVote .upvote").on("click", function() {
			sendPostVote($(this), 1);
		})
		$("#postVote .downvote").on("click", function() {
			sendPostVote($(this), -1);
		})

		function sendPostVote(thisObj, voteDirection)
		{
			let postId = $("#postVote").attr("data-postId");
			$.post(
				`/vote/${postId}`,
				{
					//1 for upvote -1 for downvote
					direction: voteDirection
				},
				function(data, status){
					let parentOfThisDiv = thisObj.parent();
					let voteCount = parentOfThisDiv.find(".voteCount");

					if(voteDirection === 1)
					{
						parentOfThisDiv.find(".downvote").attr("src", "/images/down-arrow.png");
						if(thisObj.attr("src") == "/images/up-arrow-green.png")
						{
							thisObj.attr("src", "/images/up-arrow.png");
						}
						else
						{
							thisObj.attr("src", "/images/up-arrow-green.png");
						}
					}
					else
					{
						parentOfThisDiv.find(".upvote").attr("src", "/images/up-arrow.png");
						if(thisObj.attr("src") == "/images/down-arrow-magenta.png")
						{
							thisObj.attr("src", "/images/down-arrow.png");
						}
						else
						thisObj.attr("src", "/images/down-arrow-magenta.png");
					}
					voteCount.text(parseInt(voteCount.text()) + parseInt(data));
				}
			);
		}
	</script>
	<% } %>


	<script>

		function createReplyBox(btn) {
			let box = btn.parentElement.getElementsByClassName("commentForm")[0];
			if(box.style.display == "none")
				box.style.display = "flex";
			else
				box.style.display = "none";

		}

		function postReply(btn)
		{
			console.log("from ejs <%= post.id %>");
			$.post(
				"/r/<%= subreddit.name %>/post/<%= post.id %>/newComment",
				{
					parentId: btn.parentElement.getAttribute("data-parentId"),
					comment: btn.parentElement.getElementsByClassName("replyComment")[0].value
				},
				function(data, status){
					alert("<%= post.id %> Data: " + data + "\nStatus: " + status);
				}
			);
		}

		$(".comments").on("click.loadmore", ".pageNum", function() {
			let pageNum = $(".pageNum").attr("data-pageNum");
			let postId = $("#postVote").attr("data-postId");
			let filter = $(".comments").attr("data-filter");
			$.get(`/r/<%= subreddit.name %>/post/${postId}/page=${pageNum}/${filter}`,
			function(data, status)
			{
				$(".pageNum").remove();
				const insert = document.getElementsByClassName("comments")[0];
				insert.insertAdjacentHTML('beforeend', data);
				console.log(data);
			});
		})
		</script>
</html>