<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles2.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    </head>
    <body>

		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<div class="topbar"> topbar </div>
				<div class="headerControls">
					<a href="/u/<%= profileName %>" class="profileName">u/<%= profileName %></a>
					<%- include('partials/accountControls') %>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit" class="openLoginModal" id="createSubredditLink">Create Subreddit</a>
				</div>
				<div class="contentFeed">
					<% activities.forEach((activity) => { %>
                        <% if (activity.commentId) { %>
						<div class="comment">
							<a href="/r/<%= activity.subredditTitle %>/post/<%= activity.postId %>" class="postTitle"><%= activity.postTitle %> <span class="postInfo">submitted <%= activity.timeSincePostCreation %> by <%= activity.postAuthor %></span></a>
							<div class="commentContent">
								<div class="vote" data-commentId="<%= activity.commentId %>">
									<% if (activity.commentVoteDirection == 1) { %>
										<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
									<%  } else {  %>
										<img src="/images/up-arrow.png" class="upvote openLoginModal">
									<% } %>
	
									<div class="voteCount">
										<%= activity.numCommentVotes %>
									</div>
	
									<% if (activity.commentVoteDirection == -1) { %>
										<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
									<% } else { %>
										<img src="/images/down-arrow.png" class="downvote openLoginModal">
									<% } %>
								</div>
								<div class="commentRight">
									<div class="commentInfo">comment by <%= profileName %> <%= activity.timeSinceCommentCreation %></div>
									<div class="commentContent"><%= activity.commentContent %></div>
								</div>
							</div>
						</div>
						<% } else { %>
						<div class="post">
							<div class="vote" data-postId="<%= activity.postId %>">
								<% if (activity.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote openLoginModal">
								<% } %>

								<div class="voteCount">
									<%= activity.numPostVotes %>
								</div>

								<% if (activity.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote openLoginModal">
								<% } %>
							</div>
							<% if (activity.imgSrc == "") { %>
							<img src="/images/text-icon.png" class="postPreview"></img>
							<% } else { %>
							<img src="<%= activity.imgSrc %>" class="postPreview"></img>
							<% } %>
							<div class="postRight">
								<% if (activity.postLink != "") { %>
								<a href="<%= activity.postLink %>" class="postTitle"><%= activity.postTitle %></a>
								<% } else { %>
								<a href="/r/<%= activity.subredditTitle %>/post/<%= activity.postId %>" class="postTitle"><%= activity.postTitle %></a>
								<% } %>
								<div class="postInfo">submitted <%= activity.timeSinceCreation %></div>
								<a href="/r/<%= activity.subredditTitle %>/post/<%= activity.postId %>" class="postComments"><%= activity.numComments %> comments</a>
							</div>
						</div>
                        <% } %>
					<% }) %>
					<div class="pageNum" data-pageNum="<%= pageNum %>"><p>LOAD MORE</p></div>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<% if (locals.user) { %>
		<script type = "text/javascript" src="/scripts/vote.js"></script>
	<% } else { %>
		<script type="text/javascript" src="/scripts/loginModal.js"></script>
		<script type="text/javascript" src="/scripts/signupModal.js"></script>
	<% } %>

	<script>
			$(".contentFeed").on("click.loadmore", ".pageNum", function() {
			let pageNum = $(".pageNum").attr("data-pageNum");
			$.get(`/u/<%= profileName %>/next/page=${pageNum}`,
			function(data, status)
			{
				$(".pageNum").remove();
				const insert = document.getElementsByClassName("contentFeed")[0];
				insert.insertAdjacentHTML('beforeend', data);
			});
		})


		var docWidth = document.documentElement.offsetWidth;
	</script>
</html>