<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> Search Results </TITLE>
    <link rel="stylesheet" href="/css/views/searchResults.css">
    </head>
    <body>
		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<div class="subName">results</div>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
				<%- include('partials/subredditSidebar') %>
				<div id="searchbar">
					<form action="/search" method="POST" id="searchFormExtended">
						<label for="searchQuery">Search</label>
						<input type="text" class="smallInputBox inputBox" id="searchQuery" name="searchQuery" placeholder="<%= searchQuery %>">
						<div id="searchFilters">
							<div id="subredditFilter">
								<label for="filterBySubreddit">Filter results by subreddit</label>
								<input type="text" class="verySmallInputBox inputBox" id="filterBySubreddit" name="filterBySubreddit" placeholder="<%= filterBySubreddit %>">
							</div>
							<div id="authorFilter">
								<label for="filterByAuthor">Filter results by author</label>
								<input type="text" class="verySmallInputBox inputBox" id="filterByAuthor" name="filterByAuthor" placeholder="<%= filterByAuthor %>">
							</div>
						</div>
						<input type="submit" value="submit" id="searchSubmit" class="formSubmit">
					</form>
				</div>					
				<div class="contentFeed posts">
					<% posts.forEach((post) => { %>
						<%- include('partials/postHeader', {post: post}) %>
					<% }) %>
					<%- include('partials/loadMore', {loadMoreHref: `/search/page=${pageNum}`}) %>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/scripts/loadNextPage.js"></script>
	<% if (locals.user) { %>
	<script type = "text/javascript" src="/scripts/vote.js"></script>
	<script>
		attachVoteListener();
		attachNextPageListener([{fn: refreshVoteListeners}], 
		{
			isPostRequest: true, 
			postParams: 
			{
				searchQuery: "<%= searchQuery %>",
				filterByAuthor: "<%= filterByAuthor %>",
				filterBySubreddit: "<%= filterBySubreddit %>"
			}
		});
	</script>
	<% } else { %>
	<script type="text/javascript" src="/scripts/loginModal.js"></script>
	<script type="text/javascript" src="/scripts/signupModal.js"></script>
	<script>
		attachLoginModalListeners();
		attachSignupModalListeners();
		attachNextPageListener([{fn: refreshLoginModalListeners}], 
		{
			isPostRequest: true, 
			postParams: 
			{
				searchQuery: "<%= searchQuery %>",
				filterByAuthor: "<%= filterByAuthor %>",
				filterBySubreddit: "<%= filterBySubreddit %>"
			}
		});
	</script>
	<% } %>
</html>