<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    <link rel="stylesheet" href="/css/searchResults.css">
    </head>
    <body>
		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<div class="subName">results</div>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit" class="openLoginModal sidebarBtn" id="createSubredditLink">Create Subreddit</a>
				</div>
				<div id="searchbar">
					<form action="/search" method="POST" id="searchFormExtended">
						<label for="searchQuery">Search</label>
						<input type="text" class="smallInputBox inputBox" id="searchQuery" name="searchQuery" placeholder="<%= searchQuery %>">
						<div id="searchFilters">
							<div id="subredditFilter">
								<label for="filterBySubreddit">Filter results by subreddit</label>
								<input type="text" class="verySmallInputBox inputBox" id="filterBySubreddit" name="filterBySubreddit" placeholder="<%= filterBySubreddit %>">
							</div>
							<div id="authorFilter">
								<label for="filterByAuthor">Filter results by author</label>
								<input type="text" class="verySmallInputBox inputBox" id="filterByAuthor" name="filterByAuthor" placeholder="<%= filterByAuthor %>">
							</div>
						</div>
						<input type="submit" value="submit" id="searchSubmit" class="formSubmit">
					</form>
				</div>					
				<div class="contentFeed posts">
					<% posts.forEach((post) => { %>
						<div class="post">
							<div class="vote" data-postId="<%= post.id %>">
								<% if (post.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote openLoginModal">
								<% } %>

								<div class="voteCount">
									<%= post.numVotes %>
								</div>
								<% if (post.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote openLoginModal">
								<% } %>
							</div>
							<% if (post.imgSrc == "") { %>
							<img src="/images/text-icon.png" class="postPreview"></img>
							<% } else { %>
							<img src="<%= post.imgSrc %>" class="postPreview"></img>
							<% } %>
							<div class="postRight">
								<% if (post.postLink != "") { %>
								<a href="<%= post.postLink %>" class="postTitle"><%= post.title %></a>
								<% } else { %>
								<a href="/r/<%= post.subredditName %>/post/<%= post.id %>" class="postTitle"><%= post.title %></a>
								<% } %>
								<div class="postInfo">submitted <%= post.timeSinceCreation %> by <a href="/u/<%= post.userName %>" class="smallLink"><%= post.userName %></a> to <a href="/r/<%= post.subredditName %>" class="smallLink"><%= post.subredditName %></a></div>
								<a href="/r/<%= post.subredditName %>/post/<%= post.id %>" class="postComments"><%= post.numComments %> comments</a>
							</div>
						</div>
					<% }) %>
					<div class="pageNum" data-pageNum="<%= pageNum %>"><p>LOAD MORE</p></div>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<% if (locals.user) { %>
	<script type = "text/javascript" src="/scripts/vote.js"></script>
	<% } else { %>
	<script type="text/javascript" src="/scripts/loginModal.js"></script>
	<script type="text/javascript" src="/scripts/signupModal.js"></script>
	<% } %>
	<script>
		$(".posts").on("click.loadmore", ".pageNum", function() {
			let pageNum = $(".pageNum").attr("data-pageNum");
			let filter = $(".posts").attr("data-filter");
			$.post(`/search/page=${pageNum}`,
			{searchQuery: "<%= searchQuery %>",
			filterByAuthor: "<%= filterByAuthor %>",
			filterBySubreddit: "<%= filterBySubreddit %>"},
			function(data, status)
			{
				$(".pageNum").remove();
				const insert = document.getElementsByClassName("posts")[0];
				insert.insertAdjacentHTML('beforeend', data);
			});
		})


		var docWidth = document.documentElement.offsetWidth;
	</script>
</html>