<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    </head>
    <body>

		<%- include('partials/loginModal') %>
		<%- include('partials/signupModal') %>
		<div class="container">
		
			<div class="header">
				<%- include('partials/topbar') %>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>" class="subName" data-subId="<%= subreddit.id %>"><%= subreddit.name %></a>
					<div class="filters">
						<% if (filter == "hot") { %>
							<a href="/r/<%= subreddit.name %>/hot" class="currentFilter">hot</a>
						<% } else { %> <a href="/r/<%= subreddit.name %>/hot">hot</a> <% } %>

						<% if (filter == "top") { %>
							<a href="/r/<%= subreddit.name %>/top" class="currentFilter">top</a>
						<% } else { %> <a href="/r/<%= subreddit.name %>/top">top</a> <% } %>

						<% if (filter == "new") { %>
							<a href="/r/<%= subreddit.name %>/new" class="currentFilter">new</a>
						<% } else { %> <a href="/r/<%= subreddit.name %>/new">new</a> <% } %>
					</div>
					<div id="topbarRight">
						<%- include('partials/searchbar') %>
						<%- include('partials/accountControls') %>
					</div>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit" class="openLoginModal sidebarBtn" id="createSubredditLink">Create Subreddit</a>
					<a href="/r/<%= subreddit.name %>/post/newPost" class="openLoginModal sidebarBtn" id="createPostLink"> Create Post</a>
					<% if (isSubscribed) { %>
					<a href="" class="openLoginModal sidebarBtn" id="saveSubreddit">Unsubscribe</a>
					<% } else { %>
					<a href="" class="openLoginModal sidebarBtn" id="saveSubreddit">Subscribe</a>
					<% } %>
					<div id="subredditDescription"><%= subreddit.description %></div>
					<div id="subredditSidebar"><%- subreddit.sidebar %></div>
				</div>
				<div class="posts contentFeed" data-filter="<%= filter %>">
					<% posts.forEach((post) => { %>
						<div class="post">
							<div class="vote" data-postId="<%= post.id %>">
								<% if (post.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote openLoginModal">
								<% } %>

								<div class="voteCount">
									<%= post.numVotes %>
								</div>

								<% if (post.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote openLoginModal">
								<% } %>
							</div>
							<% if (post.imgSrc == "") { %>
							<img src="/images/text-icon.png" class="postPreview"></img>
							<% } else { %>
							<img src="<%= post.imgSrc %>" class="postPreview"></img>
							<% } %>
							<div class="postRight">
								<% if (post.postLink != "") { %>
								<a href="<%= post.postLink %>" class="postTitle"><%= post.title %></a>
								<% } else { %>
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>" class="postTitle"><%= post.title %></a>
								<% } %>
								<div class="postInfo">submitted <%= post.timeSinceCreation %> by <a href="/u/<%= post.userName %>" class="smallLink"><%= post.userName %></a></div>
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>" class="postComments"><%= post.numComments %> comments</a>
							</div>
						</div>
					<% }) %>
					<a href="/r/<%= subreddit.name %>/next/page=<%= pageNum %>/<%= filter %>" class="pageNum">LOAD MORE</a>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/scripts/loadNextPage.js"></script>
	<% if (locals.user) { %>
		<script type = "text/javascript" src="/scripts/vote.js"></script>
		<script type="text/javascript" src="/scripts/subscribe.js"></script>
		<script>
			attachSubscribeListener("<%= subreddit.id %>");
			attachNextPageListener([{fn: refreshVoteListeners}]);
			attachVoteListener();
		</script>
	<% } else { %>
		<script type="text/javascript" src="/scripts/loginModal.js"></script>
		<script type="text/javascript" src="/scripts/signupModal.js"></script>
		<script>
			attachLoginModalListeners();
			attachSignupModalListeners();
			attachNextPageListener([{fn: refreshLoginModalListeners}]);
		</script>
	<% } %>
</html>