<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    </head>
    <body>

		<%- include('partials/loginModal') %>

		<div class="container">
		
			<div class="header">
				<div class="topbar"> topbar </div>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>" class="subName"><%= subreddit.name %></a>
					<div class="filters">
						<% if (filter == "hot") { %>
							<a href="/r/<%= subreddit.name %>/hot" id="currentFilter">hot</a>
						<% } else { %> <a href="/r/<%= subreddit.name %>/hot">hot</a> <% } %>

						<% if (filter == "top") { %>
							<a href="/r/<%= subreddit.name %>/top" id="currentFilter">top</a>
						<% } else { %> <a href="/r/<%= subreddit.name %>/top">top</a> <% } %>

						<% if (filter == "new") { %>
							<a href="/r/<%= subreddit.name %>/new" id="currentFilter">new</a>
						<% } else { %> <a href="/r/<%= subreddit.name %>/new">new</a> <% } %>
					</div>
					<%- include('partials/accountControls') %>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit.html" class="openLoginModal">Create Subreddit!</a>
					<a href="/r/<%= subreddit.name %>/post/newPost" class="openLoginModal"> Create Post</a>
				</div>
				<div class="posts" data-filter="<%= filter %>">
					<% posts.forEach((post) => { %>
						<div class="post" data-postId="<%= post.id %>">
							<div class="vote">
								<% if (post.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote openLoginModal">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote openLoginModal">
								<% } %>

								<div class="voteCount">
									<%= post.numVotes %>
								</div>

								<% if (post.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote openLoginModal">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote openLoginModal">
								<% } %>
							</div>
							<img src = "/images/text-icon.png" class="postPreview"></img>
							<div class="postRight">
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>" class="postTitle"><%= post.title %></a>
								<div class="postInfo">submitted <%= post.timeSinceCreation %> by <%= post.userName %></div>
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>" class="postComments"><%= post.numComments %> comments</a>
							</div>
						</div>
					<% }) %>
					<div class="pageNum" data-pageNum="<%= pageNum %>"><p>LOAD MORE</p></div>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<% if (locals.username) { %>
		<script type = "text/javascript" src="/scripts/postVote.js"></script>
	<% } else { %>
		<script type="text/javascript" src="/scripts/loginModal.js"></script>
	<% } %>
	<script>
		$(".posts").on("click.loadmore", ".pageNum", function() {
			let pageNum = $(".pageNum").attr("data-pageNum");
			let filter = $(".posts").attr("data-filter");
			$.get(`/r/<%= subreddit.name %>/next/page=${pageNum}/${filter}`,
			function(data, status)
			{
				$(".pageNum").remove();
				const insert = document.getElementsByClassName("posts")[0];
				insert.insertAdjacentHTML('beforeend', data);
				console.log(data);
			});
		})
	</script>
</html>