<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/subreddit.css">
    </head>
    <body>
		<div class="container">
		
			<div class="header">
				<div class="topbar"> topbar </div>
				<div class="headerControls">
					<a href="/r/<%= subreddit.name %>"><%= subreddit.name %></a>
					<%- include('partials/accountControls') %>
				</div>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit.html">Create Subreddit!</a>
					<a href="/r/<%= subreddit.name %>/post/newPost"> Create Post</a>
				</div>
				<div class="posts">
					<% timeSinceCreation = function(timeInMinutes) { %>
						<% console.log(timeInMinutes); %>
						<% if (timeInMinutes < 1) return "less than 1 minute ago"; %>
						<% if (timeInMinutes < 60) return `${timeInMinutes} minutes ago`; %>
						<% if (timeInMinutes < 1440) return `${Math.floor(timeInMinutes / 60)} hours ago`; %>
						<% if (timeInMinutes < 43200) return `${Math.floor(timeInMinutes / 1440)} days ago`; %>
						<% if (timeInMinutes < 518400) return `${Math.floor(timeInMinutes / 43200)} months ago`; %>
						<% return `{Math.floor(timeInMinutes / 518400)} years ago`; %>
					<% } %>
					<% posts.forEach((post) => { %>
						<div class="post" data-postId="<%= post.id %>">
							<div class="vote">
								<% if (post.voteDirection == 1) { %>
									<img src="/images/up-arrow-green.png" class="upvote">
								<%  } else {  %>
									<img src="/images/up-arrow.png" class="upvote">
								<% } %>

								<div class="voteCount">
									<%= post.numVotes %>
								</div>

								<% if (post.voteDirection == -1) { %>
									<img src="/images/down-arrow-magenta.png" class="downvote">
								<% } else { %>
									<img src="/images/down-arrow.png" class="downvote">
								<% } %>


							</div>
							<div class="postRight">
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>" class="postTitle"><%= post.title %></a>
								<div class="postInfo">submitted <%- timeSinceCreation(post.minutes_ago); %> by <%= post.userName %></div>
								<a href="/r/<%= subreddit.name %>/post/<%= post.id %>" class="postComments"><%= post.numComments %> comments</a>
							</div>
						</div>
					<% }) %>
				</div>
			</div>
			
		</div>
    </body>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script>
		function sendVote(event, postId, voteDirection)
		{
			$.post(
					`/r/testSub3/post/${postId}/vote`,
					{
						//1 for upvote -1 for downvote
						direction: voteDirection
					},
					function(data, status){
						if(!locals.username) return;
						if(voteDirection === 1)
						{
							event.target.parentElement.getElementsByClassName("downvote")[0].setAttribute("src", "/images/down-arrow.png");
							if(event.target.getAttribute("src") == "/images/up-arrow-green.png")
							{
								event.target.setAttribute("src", "/images/up-arrow.png");
							}
							else
							{
								event.target.setAttribute("src", "/images/up-arrow-green.png");
							}
						}
						else
						{
							event.target.parentElement.getElementsByClassName("upvote")[0].setAttribute("src", "/images/up-arrow.png");
							if(event.target.getAttribute("src") == "/images/down-arrow-magenta.png")
							{
								event.target.setAttribute("src", "/images/down-arrow.png");
							}
							else
								event.target.setAttribute("src", "/images/down-arrow-magenta.png");
						}
					}
				);
		}

		let posts = document.getElementsByClassName("post");
		for (let post of posts)
		{
			post.getElementsByClassName("upvote")[0].addEventListener("click", 
			(event) => {
				sendVote(event, post.getAttribute("data-postId"), 1)
			});

			post.getElementsByClassName("downvote")[0].addEventListener("click", 
			(event) => {
				sendVote(event, post.getAttribute("data-postId"), -1)
			});
		}
	</script>
</html>